h1 {
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

p {
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

header{
  display:inline
  margin:8px 0;
  width:100%;
  height: 88px;
  background-color: #f2f2f2;
  color: #111035;
  font-family:poppins;
}

.leftNav{
  display:inline
  float:left;
}

.rightNav{
  display:inline
  float:right;
}

.heroSection{
  display:inline-block;
  background-color: #111035;
  height: 900px;
  width:100%;
}

.heroLeft{
  float:left;
}

.heroRight{
  float:right;
}