/* Page Info*/
h1 {
  font-family: Poppins, sans-serif;
}

p {
  font-family: Poppins, sans-serif;
}

/* Header-Nav Section*/
header{
  display:inline
  margin:0;
  width:100%;
  height: 88px;
  background-color: #f2f2f2;
  color: #111035;
  font-family:poppins;
}

.leftNav{
  display:flex;
  float:left;
}

}
.rightNav{
  float:right;
  display:flex;
}
.rightNav ul{
  font-size:24px;
  font-weight:600px;
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
}

.rightNav li{
  float: right;
}
.rightNav li:hover{
  color:#ff6f00
}


/* Hero Section*/
.heroSection{
  display:inline-block;
  background-color: #111035;
  height: 680px;
  width:100%;
}

.heroSection p{
  color:#ff6f00;
  font-size: 56px;
  font-family: anton;
  letter-spacing:6px;
  margin-left:72px;
  width: 400px;
}

.heroSection h1{
  color:white;
  font-size: 56px;
  font-family: anton;
  letter-spacing:6px;
  margin-left:72px;
  width: 400px;
}

.heroLeft{
  float:left;
}

.heroRight{
  float:right;
}
.contact{
  display:block
}
button{
  background-color:white;
  color:#111035;
  border: 3px solid #111035;
  border-radius: 20px;
  padding:15px 32px;
  text-align:center;
  text-decoration:none;
  display:inline-block;
  font-size: 36px;
  font-family:poppins;
  font-weight:900px;
}

button:hover{
  background-color:#ff6f00;
  color:white;
  border: 3px solid white;
  border-radius: 20px;
  padding:15px 32px;
  text-align:center;
  text-decoration:none;
  display:inline-block;
  font-size: 36px;
  font-family:poppins;
  font-weight:900
}
/* Content Section*/

/* Footer Section*/
footer{
  display:inline-block;
  position: relative;
  color:white;
  background-color: #111035;
  width:100%;
  height: 256px;
}

footer ul{
  font-size:24px;
  font-weight:600px;
  font-family: poppins;
  list-style-type:none;
  margin:0px;
  padding:0px;
  overflow:hidden;
}

footer li{
  float: left;
}

footer li:hover{
  color:#ff6f00
}
footer h1{
  float: right;
  font-size: 24px;
}